{% extends 'base.html' %}
{% block body %}

{% load crispy_forms_tags %}

{% load static %}


<header>

    <div class="header-content" >
        <div class="header-content-inner" style="padding:40px;">
            <h2 style="text-transform: uppercase;"> Add City here:  </h2>
            <br>



            <form method="POST" action="/city_create/">

            {{ form|crispy }}

            <input type="submit" value="Save" class="btn btn-primary" />

        </form>
            <br>
            <br>


                 {% if messages %}
             <div class="alert alert-success">

            {% for message in messages %}
                {{ message }}

            {% endfor %}


             </div>
                    {% endif %}



            </div>






        </div>



    </div>







</header>



</br>
</br>

<br>

{% endblock %}
